
h1 {
	font-family: Arial;
	color: #ff9900;
	text-shadow: #800020 1px 3px 3px;
}

h2 {
	font-family: Arial;
	color: #d41111;
	font-size: 30px;
	text-shadow: #ffbf80 2px 2px 3px;
}

h3 {
	font-family: Arial;
	color: #ffa64d;
	font-size: 24px;
	font-weight: bold;
	font-style: italic;
}

.title {
	font-family: Arial;
	color: #990026;
	font-size:20px;
	font-weight: bold;
}

.collapsible {
	background-color: #e0e0eb;
	color: gray;
	cursor: pointer;
	padding: 33px;
	width: 100%;
	border: "2";
	text-align: left;
	outline: none;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.active, .collapsible:hover {
 background-color: #800000;
}

.collapsible:after {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
	font-size: 10px;
	color: white;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
	font-family: Arial;
}

footer{
	background-image: url("../photos/node-pic2.jpg"), url("../photos/node-pic1.jpg");
	background-size: 52%;
	height: 345px;
	background-repeat: no-repeat, no-repeat;
	background-position: right center, left center;
	background-origin: content-box;
}